<pre>
<font color="#434f54">&#47;&#47;LAB 1, Measure TEMPERATURE with LM-35 sensor</font>

<font color="#00979c">const</font> <font color="#00979c">int</font> <font color="#000000">sensorPin</font><font color="#434f54">=</font> <font color="#000000">A0</font><font color="#000000">;</font>

<font color="#00979c">void</font> <font color="#5e6d03">setup</font><font color="#000000">(</font><font color="#000000">)</font>
<font color="#000000">{</font>
 &nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">begin</font><font color="#000000">(</font><font color="#000000">9600</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#000000">}</font>

<font color="#00979c">void</font> <font color="#5e6d03">loop</font><font color="#000000">(</font><font color="#000000">)</font>
<font color="#000000">{</font>
 &nbsp;<font color="#00979c">int</font> <font color="#000000">value</font> <font color="#434f54">=</font> <font color="#d35400">analogRead</font><font color="#000000">(</font><font color="#000000">sensorPin</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#434f54">&#47;&#47;Convert the code obtained from the ADC</font>
 &nbsp;<font color="#434f54">&#47;&#47;conversion into a milivolt measurement.</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">millivolts</font> <font color="#434f54">=</font> <font color="#000000">(</font><font color="#000000">value</font><font color="#434f54">&#47;</font><font color="#000000">1023.0</font><font color="#000000">)</font><font color="#434f54">*</font><font color="#000000">5000</font><font color="#000000">;</font>
 &nbsp;<font color="#434f54">&#47;&#47;Conversion from volts to celsius degrees</font>
 &nbsp;<font color="#434f54">&#47;&#47;according to data-sheet.</font>
 &nbsp;<font color="#00979c">float</font> <font color="#000000">celsius</font> <font color="#434f54">=</font> <font color="#000000">millivolts</font><font color="#434f54">&#47;</font><font color="#000000">10</font><font color="#000000">;</font>
 &nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">print</font><font color="#000000">(</font><font color="#000000">celsius</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<b><font color="#d35400">Serial</font></b><font color="#434f54">.</font><font color="#d35400">println</font><font color="#000000">(</font><font color="#005c5f">&#34; C&#34;</font><font color="#000000">)</font><font color="#000000">;</font>
 &nbsp;<font color="#d35400">delay</font><font color="#000000">(</font><font color="#000000">1000</font><font color="#000000">)</font><font color="#000000">;</font>
<font color="#000000">}</font>

</pre>
